body{
    height: 100vh;
    background-color: #5858B9;
    font-size: 32px;
    font-weight: bold;
}
#app{
    overflow: hidden;
    position: relative;
    transform: translateY(20px);
}
.md-36{
    font-size: 36px;
}
.turntable{
    width: 540px;
    height: 540px;
    transform:rotate(-30deg);
    position: relative;
    margin: 0 auto;
}
.turntable::after{
    content:"";
    position: absolute;
    width: 540px;
    height: 540px;
    background-image: url('./wheel-outside.svg');
    background-repeat: no-repeat;
    background-position: center;
}
li{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%)
    /* 做出一個半圓形 */
}
.inner{
    width: 50%;
    height: 100%;
    transform-origin: right center;
    background-color:#F0BEFF;
    color:#343BAA;
    position: relative;
}
.prizeitem{
    width: 60%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top:60px;
    right:35%;
    transform-origin: right center;
    transform:rotate(-30deg) translateX(50%)
}
li:nth-child(even)>.inner{
    background-color: #343BAA;
    color:#F0BEFF;
}
.btn,.btn-hand,.btn-hand::after,.streamer{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.btn{
    z-index: 10;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    color:#FF00BA;
    background-color: #1F1172;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    line-height: 128px;
    cursor: pointer;   
}
.btn:hover {
    background-color: white;
}
.btn:active {
    background-color: rgb(0, 16, 151);
}
.btn-hand{
    width: 1px;
    height: 1px;
}
.btn-hand::after{
    content:"";
    width: 256px;
    height: 256px;
    transform: translate(-50% , -19%);
    background-image: url('./hand.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.anim {
    transition-timing-function: Ease-in-out;
    transition: transform 3s;
}
.streamer{
    background-color: #343BAA;
    color:white;
    height: 40%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.center{
    width: 540px;
    height: 540px;
}
.left{
    font-size: 72px;
}
.right{
    font-size: 32px;
    transform: translateX(60px);
}
.choicedPrizeName{
    font-size: 72px;
    color:#FF00BA;
    text-decoration: underline;
}