<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>js新手地下城第九關-輪盤</title>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./style.css">
    <script type="text/javascript" src="prize.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    </style>
</head>

<body>
    <div id="app">
        <div class="year-btns">
            <input type="button" value="2017" @click="changeTable(2017)">
            <input type="button" value="2018" @click="changeTable(2018)">
        </div>
        <div class="turntable2017" v-if="turntable.year17">
            <ul class="turntable">
                <li v-for="(prize,prizeId) in prizes17"
                    :style="{'--eachPercent':eachPercent,'transform':eachRotDeg[prizeId] }" :ref="prizeId">
                    <div class="prizeitem" :style="prizeItemDeg">
                        <i class="material-icons fz-36">{{prize.iconClassName}}</i>
                        <p>
                            {{prize.prizeName}}
                        </p>
                        <p>
                            ({{prize.amount}})
                        </p>
                    </div>
                </li>
            </ul>
            <a class="btn" @click.prevent="pickPrize($event)">Press
                <div class="btn-hand anim"></div>
            </a>
            <div class="streamer" v-if="streamBg">
                <div class="container">
                    <div class="icons" v-for="i in 18" :style="iconPosition(i)">
                        <i class="material-icons fz-36">{{prizes17[choicedPrizeIndex].iconClassName}}</i>
                    </div>
                    <div class="icons" style="left:10px ;top:50%">
                        <i class="material-icons fz-36">{{prizes17[choicedPrizeIndex].iconClassName}}</i>
                    </div>
                    <div class="icons" style="right:-150px; top:50%">
                        <i class="material-icons fz-36">{{prizes17[choicedPrizeIndex].iconClassName}}</i>
                    </div>
                </div>
                <h2 class="left">WELL<br>DONE!</h2>
                <div class="center"></div>
                <div class="right">
                    <p>YOU GET A FREE...</p>
                    <span class="choicedPrizeName">{{prizes17[choicedPrizeIndex].prizeName}}</span>
                </div>
            </div>
        </div>
        <!-- <div class="turntable2018" v-if="turntable.year18">
            <ul class="turntable">
                <li v-for="(prize,prizeId) in prizes18"
                    :style="{'--eachPercent':eachPercent,'transform':eachRotDeg[prizeId] }" :ref="prizeId">
                    <div class="prizeitem" :style="prizeItemDeg">
                        <p>
                            {{prize.prizeNumber}}
                        </p>
                        <p>
                            ({{prize.amount}})
                        </p>
                    </div>
                </li>
            </ul>
            <a class="btn" @click.prevent="pickPrize($event)">Press
                <div class="btn-hand anim"></div>
            </a>
        </div> -->
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                prizes17: [],
                prizes18: [],
                turntable: {
                    year17: true,
                    year18: false,
                },
                choicedIndex: 0,
                choicedPrizeIndex: 0,
                originAngle: 0,
                streamBg: false,
                isClicked: false,
            },
            created: function () {
                let xhr = new XMLHttpRequest();
                xhr.open('get', "./prize.json");
                xhr.send();
                xhr.onload = function () {
                    let res = JSON.parse(xhr.responseText);
                    vm.prizes17 = res[0].prizes2017;
                    vm.prizes18 = res[0].prizes2018;
                }
            },
            computed: {
                eachRotDeg: function () {
                    return this.prizes17.map((element, index, arr) => {
                        return `rotate(${(360 / arr.length) * index}deg)`
                    })
                },
                eachPercent: function () {
                    return `rotate(${360 / this.prizes17.length}deg)`;
                },
                prizeItemDeg: function () {
                    return { transform: `rotate(${(360 / this.prizes17.length / 2)}deg)` }
                },
            },
            methods: {
                changeTable: function (year) {
                    if (year === 2017) {
                        this.turntable.year17 = true;
                        this.turntable.year18 = false;
                    } else if (year === 2018) {
                        this.turntable.year17 = false;
                        this.turntable.year18 = true;
                    }
                },
                iconPosition: function (i) {
                    if (i % 2 === 0) {
                        return {
                            top: -Math.floor(Math.random() * 30) + 'px',
                            left: i * 70 + 'px',
                            transform: `rotate(${i * Math.floor(Math.random() * 100)}deg)`,
                        }
                    }
                    else {
                        return {
                            bottom: -Math.floor(Math.random() * 30) + 'px',
                            left: i * 70 + Math.floor(Math.random() * i) + 'px',
                            transform: `rotate(${i * Math.floor(Math.random() * 100)}deg)`,
                        }
                    }
                },
                pickPrize: function (e) {
                    if (this.isClicked == true) return;
                    if (this.prizes17.length == 0) return;
                    this.reduceItem();
                    this.isClicked = true;
                    let pickedInAll;
                    let allPrizes = [];
                    this.prizes17.map((element, index, arr) => {
                        for (let i = 0; i < element.amount; i++) {
                            allPrizes.push(element.prizeName);
                        }
                    })
                    if (allPrizes.length < 20) {
                        this.$refs[this.choicedPrizeIndex][0].classList.remove('choiced-style');
                        this.streamBg = false;
                    }
                    // 隨機篩選
                    pickedInAll = Math.floor(Math.random() * (allPrizes.length));
                    //這個是什麼獎品
                    this.prizes17.forEach((element, index) => {
                        if (element.prizeName == allPrizes[pickedInAll]) {
                            this.choicedPrizeIndex = index;
                        }
                    });
                    //轉
                    this.rotateHand(e);
                },
                rotateHand: function (e) {
                    let newAngle = (360 / this.prizes17.length) * this.choicedPrizeIndex;
                    e.target.classList.add('anim');
                    if (newAngle - this.originAngle < 180)
                        e.target.style.transform = `rotate(${newAngle + 1080}deg)`;
                    else
                        e.target.style.transform = `rotate(${newAngle + 720}deg)`;
                    this.originAngle = newAngle;
                    setTimeout(() => {
                        e.target.classList.remove('anim');
                        e.target.style.transform = `rotate(${this.originAngle}deg)`;
                        this.$refs[this.choicedPrizeIndex][0].classList.add('choiced-style')
                        this.streamBg = true;
                        this.prizes17[this.choicedPrizeIndex].amount -= 1;
                        this.isClicked = false;
                    }, 2000);
                },
                reduceItem: function () {
                    if (this.prizes17[this.choicedPrizeIndex].amount != 0) return
                    this.prizes17.splice(this.choicedPrizeIndex, 1);
                    if (this.prizes17.length % 2 === 1)
                        this.$refs[this.prizes17.length - 1][0].classList.add('last');
                    if (this.prizes17.length === 1)
                        this.$refs[0][0].classList.add('the-only-left');
                }
            }
        });

    </script>
</body>

</html>