<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>js新手地下城第五關-空氣品質指標</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container mb-40px mt-4" id="app" v-if="siteInfo[0]">
        <div class="row align-items-end mb-4">
            <div class="col-12 col-md-4">
                <h1>空氣品質指標 (AQI)</h1>
                <select name="select" id="select" @change="setChoiced(choicedSiteId)" v-model="choicedSiteId">
                    <option v-for="(site,siteId) in siteInfo" :value="siteId">{{site.SiteName}}</option>
                </select>
            </div>
            <div class="col-12 col-md-8">
                <table>
                    <tr>
                        <td class="green">0～50</td>
                        <td class="yellow">51～100</td>
                        <td class="orange">101～150</td>
                        <td class="red">151～200</td>
                        <td class="blue">201～300</td>
                        <td class="purple">301～400</td>
                    </tr>
                    <tr>
                        <td>良好</td>
                        <td>普通</td>
                        <td>對敏感族群<br>不健康</td>
                        <td>對所有族群<br>不健康</td>
                        <td>非常不健康</td>
                        <td>危害</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="d-flex justify-content-between align-items-center mb-4" id="choicedCity">
            <h2 class="county">{{siteInfo[choicedSiteId].County}}</h2>
            <div class="dot"></div>
            <div class="date">{{siteInfo[choicedSiteId].PublishTime}}</div><span> 更新</span>
        </div>
        <div class="row main">
            <div class="col-12 col-md-4 detail">
                <div class="choiced-site" id="choicedSite">
                    <div class="choiced-site-name">{{siteInfo[choicedSiteId].SiteName}}</div>
                    <div class="choiced-site-aqi">{{siteInfo[choicedSiteId].AQI}}</div>
                </div>
                <ul class="choiced-site-air">
                    <li class="o3">
                        <div>臭氧 <span>O3 (ppb)</span></div>
                        <span class="air-value">{{siteInfo[choicedSiteId]['O3']}}</span>
                    </li>
                    <li class="pm10">
                        <div>懸浮微粒 <span>PM10 (μg/m³)</span></div>
                        <span class="air-value">{{siteInfo[choicedSiteId]['PM10']}}</span>
                    </li>
                    <li class="pm2.5">
                        <div>細懸浮微粒<span>PM2.5 (μg/m³)</span></div>
                        <span class="air-value">{{siteInfo[choicedSiteId]['PM2.5']}}</span>
                    </li>
                    <li class="co">
                        <div>一氧化碳<span>CO (ppm)</span></div>
                        <span class="air-value">{{siteInfo[choicedSiteId]['CO']}}</span>
                    </li>
                    <li class="so2">
                        <div>二氧化硫 <span>SO2 (ppb)</span></div>
                        <span class="air-value">{{siteInfo[choicedSiteId]['SO2']}}</span>
                    </li>
                    <li class="no2">
                        <div>二氧化氮 <span>NO2 (ppb)</span></div>
                        <span class="air-value">{{siteInfo[choicedSiteId]['NO2']}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-8">
                <ul class="regionList row">
                    <li class="col-md-6 mb-4" v-for="region in anotherRegions">
                        <div class="region">
                            <div class="region-name">{{region.siteName}}</div>
                            <div class="region-aqi">{{region.aqi}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer text-white">
        <div class="container  d-flex justify-content-between">
            <div class="soruce">資料來源：行政院環境保護署</div>
            <div class="copyright">Copyright © 2019 HexSchool. All rights reserved.</div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                url: "https://data.epa.gov.tw/api/v1/aqx_p_432?limit=1000&api_key=9be7b239-557b-4c10-9775-78cadfc555e9&format=json",
                siteInfo: [],
                choicedSiteId: -1,
                anotherRegions: [],
            },
            methods: {
                setChoiced: function (choicedSiteId) {
                    return this.choicedSiteId = choicedSiteId;
                },
            },
            watch: {
                choicedSiteId: function () {
                    this.anotherRegions = [];
                    this.siteInfo.forEach((e, index, arr) => {
                        if (e.County == arr[this.choicedSiteId].County) {
                            return this.anotherRegions.push({ siteName: e.SiteName, aqi: e.AQI });
                        }
                    });
                }
            },
            created: function () {
                fetch(this.url, { method: 'GET' })
                    .then((res) => {
                        if (res.ok) return res.json();
                        throw new Error('Network response was not ok.');
                    })
                    .then(result => {
                        this.siteInfo = result.records;
                        this.choicedSiteId = 0;
                    });
            }
        })





    </script>
    <!-- source:https://data.gov.tw/dataset/40448; -->
</body>

</html>