body{
    font-family: 'Noto Sans TC', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 60px;
}
select{
    padding:16px 20px;
    width: 100%;
    line-height: 24px;
    border:3px solid black;
}
table{
    width: 100%;
}
td{
    border:3px solid black;
    padding:16px 0 ;
    text-align: center;
    width: 16.6%;
    line-height: 24px;
    vertical-align: middle; 
}
tr:nth-child(2)>td{
    padding:4px 0;
}
h2{
    font-size: 36px;
    line-height: 54px; 
    white-space: nowrap;
}
.dot{
    width:69%;
    height:0px;
    border-top: 3px dotted black;
}
.region{
    display: flex;
    width: 100%;
}
.region-name{
    font-size: 36px;
    line-height: 54px;
    width: 56%;
    padding:22px 0 21px;
    text-align: center;
    border:3px solid black;
}
.region-aqi{
    width:46%;
    font-size: 48px;
    padding:16px 0;
    text-align: center;
    line-height: 65px;
    background: #FF5757;
    border:3px solid black;
    border-left:0;
}
.region-air{
    padding:14px 30px;
    border: black 3px solid;
    border-top: 0;
}
.region-air>li{
    padding:16px 0;
    display: flex;
    justify-content: space-between;
}
.region-air>li+li{
    border-top: 3px solid black;
}
.mb-40px{
    margin-bottom: 40px;
}
.footer{
    background: black;
    line-height: 22px;
    padding:6px 0;
}

.green{
    background: #95F084;
}
.yellow{
    background: #FFE695;
}
.orange{
    background: #FFAF6A;
}
.red{
    background: #FF5757;
}
.blue{
    background: #9777FF;
}
.purple{
    background: #AD1774;
}