<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>js新手地下城第七關-canvas繪圖板</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='https://kit.fontawesome.com/8e7fb7d8d3.js' crossorigin='anonymous'></script>

</head>

<body>
    <div id="app">
        <ul class="controlCol" ref="controlCol">
            <li>
                <a v-on:click="save" download="pic.png" :href="href"><i class="fas fa-save"></i>SAVE</a>
            </li>
            <li @click="clear">
                <i class="fas fa-expand"></i>CLEAR ALL
            </li>
            <li @click="undo">
                <i class="fas fa-undo"></i>UNDO
            </li>
            <li @click="redo">
                <i class="fas fa-redo"></i>REDO
            </li>
            <li class="upArrow" @click="offUp">
                <i class="fas fa-angle-up"></i>
            </li>
        </ul>
        <canvas ref="canvas" @mouseup="endDrawing" @mouseout="endDrawing" @mousemove="handleMousemove"
            @mousedown="handleMousedown"></canvas>
        <div class="adjustPenCol" ref="adjustPenCol">
            <div class="downArrow" @click="offDown">
                <i class="fas fa-angle-down"></i>
            </div>
            <i class="fas fa-vector-square" :class="{'colorBlack':isRect}" @click="switchMode($event,'rect')"></i>
            <i class="fas fa-eraser" :class="{'colorBlack':isEraser}" @click="switchMode($event,'eraser')"></i>
            <i class="fas fa-paint-brush" :class="{'colorBlack':isPen}" @click="switchMode($event,'pen')"></i>
            <div class="sizeCol">
                SIZE:
                <select v-on:change="ctx.lineWidth = selected;" v-model="selected">
                    <option v-for="num in fontsize">
                        {{num}}
                    </option>
                </select>
                px
            </div>
            <ul class="colorCol">
                COLOR:
                <li v-for="color in colors" :style="{background: color}" class="color"
                    @click=" changeColor($event,color) ">
                </li>
            </ul>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                canvas: {},
                ctx: {},
                fontsize: [1, 4, 5, 8, 10, 12, 14, 16],
                colors: ['#FFFFFF', '#000000', '#9BFFCD', '#00CC99', '#01936F'],
                href: "",
                upClose: false,
                downColse: false,
                step: 0,
                userhistory: [],
                haveUndone: false,
                isDrawing: false,
                selected: 1,
                isEraser: false,
                isPen: true,
                isRect: false,
                rectX: 0,
                rectY: 0
            },
            mounted: function () {
                this.canvas = this.$refs.canvas;
                this.canvas.width = window.innerWidth;
                this.canvas.height = window.innerHeight;
                if (this.canvas.getContext) this.ctx = this.canvas.getContext('2d');
                else alert('不支援');
                this.userhistory.push(this.canvas.toDataURL());
            },
            methods: {
                switchMode: function (e, value) {
                    switch (value) {
                        case 'rect':
                            this.isRect = true; this.isEraser = false; this.isPen = false;
                            this.ctx.restore();
                            this.ctx.lineWidth = this.selected;
                            break
                        case 'eraser':
                            this.isEraser = true; this.isPen = false; this.isRect = false;
                            this.ctx.save();
                            this.ctx.strokeStyle = '#E8E8E8';
                            break
                        case 'pen':
                            this.isPen = true; this.isEraser = false; this.isRect = false;
                            this.ctx.restore();
                            this.ctx.lineWidth = this.selected;
                            break
                    }
                },
                changeColor: function (e, color) {
                    if (this.isEraser == true) return;
                    this.ctx.strokeStyle = color;
                    let temp = document.getElementsByClassName('color');
                    for (element of temp) {
                        element.style.border="2px solid black"
                    }
                    e.target.style.border = "2px solid #e8e8e8"

                },
                save: function (e) {
                    let image = this.canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
                    this.href = image;
                },
                clear: function (e) {
                    this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
                    this.step = 0;
                    this.haveUndone = 0;
                    this.userhistory = [];
                    this.userhistory.push(this.canvas.toDataURL());
                },
                undo: function (e) {
                    this.haveUndone = true;
                    let canvaspic = new Image();
                    if (this.step > 0) {
                        this.step--;
                        canvaspic.src = this.userhistory[this.step];
                        canvaspic.onload = function () {
                            vm.ctx.clearRect(0, 0, vm.canvas.width, vm.canvas.height);
                            vm.ctx.drawImage(canvaspic, 0, 0) //匯出影像並從座標 x:0 y:0 開始
                        }
                    } else this.step = 0
                },
                redo: function (e) {
                    if (this.haveUndone == true) {
                        if (this.step >= this.userhistory.length - 1) return false;
                        else {
                            this.step++;
                            let canvaspic = new Image();
                            canvaspic.src = this.userhistory[this.step];
                            canvaspic.onload = function () {
                                vm.ctx.clearRect(0, 0, vm.canvas.width, vm.canvas.height);
                                vm.ctx.drawImage(canvaspic, 0, 0);
                            }
                        }
                    }
                },
                offUp: function () {
                    if (this.upClose == false) {
                        this.$refs.controlCol.style.top = -55 + 'px';
                        this.upClose = true;
                    } else {
                        this.$refs.controlCol.style.top = 0 + 'px';
                        this.upClose = false;
                    }
                },
                offDown: function () {
                    if (this.downClose == false) {
                        this.$refs.adjustPenCol.style.bottom = -95 + 'px';
                        this.downClose = true;

                    } else {
                        this.$refs.adjustPenCol.style.bottom = 40 + 'px';
                        this.downClose = false;
                    }
                },
                handleMousedown: function (e) {
                    this.isDrawing = true;
                    this.ctx.beginPath();
                    if (this.isRect == true) {
                        this.rectX = e.x;
                        this.rectY = e.y;
                        return
                    }
                    this.ctx.moveTo(e.x, e.y);
                },
                handleMousemove: function (e) {
                    if (this.isDrawing == false) return
                    if (this.isRect == true) return;
                    this.ctx.lineTo(e.x, e.y);
                    this.ctx.stroke();

                },
                endDrawing(e) {
                    if (this.isDrawing == false) return;
                    if (this.isRect == true) {
                        this.ctx.rect(this.rectX, this.rectY, e.x - this.rectX, e.y - this.rectY);
                        this.ctx.stroke();
                    }
                    this.ctx.closePath();
                    this.isDrawing = false;
                    if (this.haveUndone == true) {
                        this.userhistory = this.userhistory.slice(0, this.step + 1);
                        this.haveUndone = false;
                    }
                    this.step++;
                    this.userhistory.push(this.canvas.toDataURL());
                }
            }
        });
    </script>
</body>

</html>